.ant-btn {
  /* border-color: #ffffff !important;
  box-shadow: 0 0 0; */

  background-color: #675065 !important;
  border-color: #675065 !important;
  border: 0px solid transparent !important;
  box-shadow: 0 0 0 transparent !important;
  color: #675065 !important;
}

.ant-btn:hover {
  background: #5c3350 !important;
  border-color: #5c3350 !important;

}

.ant-drawer-content {
  background-color: #675065 !important;
  color: #ffffff !important;
}

.ant-drawer-header {
  background-color: #675065 !important;
}

.ant-drawer-title {
  color: #ffffff !important;
}